<body>
<section>
  <div class="box">
    <h2>PeriOperative Web App</h2>
    <br><br><br><br><br>

    <div>
      <button id="us" [routerLink]="[ '/patupdate']" class="btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <b>Doctor Login</b>
      </button>
    </div>
    <div>
      <button  id="yu" [routerLink]="[ '/login']" class="btn">
        <span></span>
          <span></span>
          <span></span>
          <span></span>
          <b>Login</b>
      </button>
    </div>
  </div>
</section>
</body>